<div class="jumbotron jumbotron-fluid bg-dark text-light"
    style="background-image: url({{service.image}}); background-size: cover">
    <div class="container text-center text-primary">
        <h1 class="">{{service.title}}</h1>
        <p class="lead">{{service.desc}}</p>
    </div>
</div>

<section class="p-5">
    <div id="contact" class="container">
        <h2 class="text-center">Write Review</h2>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <form action="/review" method="POST" class="text-center">
                    <input type="hidden" value="{{service.id}}" name="service" />
                    <div class="form-group col-sm-12">
                        <div class="rate">
                            <input type="radio" id="star1" name="rate" value="1" />
                            <label for="star1" title="text">1 star</label>
                            <input type="radio" id="star2" name="rate" value="2" />
                            <label for="star2" title="text">2 stars</label>
                            <input type="radio" id="star3" name="rate" value="3" />
                            <label for="star3" title="text">3 stars</label>
                            <input type="radio" id="star4" name="rate" value="4" />
                            <label for="star4" title="text">4 stars</label>
                            <input type="radio" id="star5" name="rate" value="5" />
                            <label for="star5" title="text">5 stars</label>
                        </div>
                    </div>
                    <div class="form-group col-sm-12 mt-5">
                        <textarea class="form-control" id="comments" name="comments" placeholder="Comment"
                            rows="5"></textarea>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-dark pull-right" type="submit">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>